
{% extends "base.html" %}

{% block head %}
<title>Isaac Youtube</title>
{% endblock %}

{% block content %}

<div class="isaacnews-cont">
    <div class="slot-container">
        <img class="tb-img" src="/static/youtube/Top_BG.png" />
        <div class="slot">
            <img class="slot-img" src="/static/youtube/Mid_BG.png" />
            <div class="slot-content">
                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>

                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>

                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>

                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>

                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>

                <div class="tv">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                </div>
            </div>
        </div>

        <img class="tb-img" src="/static/youtube/Bot_BG.png" />
        <div id="end"></div>
    </div>
</div>


<script> {% include "isaacyoutube.js" %} </script>
<style> {% include "isaacyoutube.css" %} </style>


{% endblock %}

