
{% extends "base.html" %}

{% block head %}
<title>Isaac Youtube</title>
{% endblock %}

{% block content %}

<div class="isaacnews-cont">
    <div class="slot-container">
        <img class="tb-img" src="/static/youtube/Top_BG.png" />
        <div class="slot">
            <img class="slot-img" src="/static/youtube/Mid_BG.png" />
            <div class="slot-content">

                <div class="tv" id="slayxc-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">SlayXc2</span>
                </div>

                <div class="tv" id="isaacguru-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">IsaacGuru</span>
                </div>

                <div class="tv" id="mattman-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">Lazy Mattman</span>
                </div>

                <div class="tv" id="northern-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">Northernlion</span>
                </div>

                <div class="tv" id="hutts-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">Hutts</span>
                </div>

                <div class="tv" id="nyantuber-slot">
                    <img src="/static/youtube/TV.png" />
                    <img class="thumbnail" src="/static/profile/placeholder.png" />
                    <span class="tv-text">NyanTuber</span>
                </div>
            </div>
        </div>

        <img class="tb-img" src="/static/youtube/Bot_BG.png" />
        <div id="end"></div>
    </div>
</div>


<script> {% include "isaacyoutubePoster.js" %} </script>
<script> {% include "isaacyoutubeRedeemer.js" %} </script>
<script> {% include "isaacyoutubeInit.js" %} </script>
<style> {% include "isaacyoutube.css" %} </style>


{% endblock %}

