
{% extends "base.html" %}

{% block head %}
<title>FAQs</title>
{% endblock %}

{% block content %}


<div class="isaacnews-cont">
    <div class="slot-container">
        <img class="tb-img" src="/static/FAQs/TOP_BG.png" />
        <img class="tb-img" src="/static/FAQs/MID_BG.png" />
        <img class="tb-img" src="/static/FAQs/MID_BG.png" />
        <img class="tb-img" src="/static/FAQs/MID_BG.png" />
        <img class="tb-img" src="/static/FAQs/MID_BG.png" />
        <img class="tb-img" src="/static/FAQs/MID_BG.png" />

        <img class="tb-img" src="/static/FAQs/BOT_BG.png" />
        <div class="overlay">

            <h1>How do i use this tracker?</h1>
            <p>Firstly, make sure your Steam account is set to public. To do this, you just need to go into the privacy settings menu (which can be found when you edit your profile on PC),  and set ‘My Profile’ and ‘Game Details’ to public.</p>
            <p>From there, simply paste the link to your steam profile in the tracker’s search bar, and all your achievements will be conveniently laid out for you in a nice shareable page so you can easily compare with friends 😊</p>
            <p>You can view completion marks, or scroll down to view your unlocked secrets. You can also search for secrets by their name or number!</p>

            <h1>Why are my completion marks not showing correctly?</h1>
            <p>Unfortunately, the only way the site can grab any sort of completion mark is from your achievements. This means that some completion marks cannot be seen by the tracker, as they don’t have a specific unlock.</p>
            <p>Specifically, for any particular non-tainted character, this tool will mark all completion marks as normal mode completion marks until you unlock all of the hard mode marks for one character. This excludes Mom’s Heart/It Lives!, which has a hard mode completion mark for its unlock.</p>
            <p>As for tainted characters, the achievements are even more sparse; Isaac, Satan, ??? and The Lamb completion marks will not be visible until you have beaten all four. Similarly, you will need to beat both Hush and Boss Rush in order to see their completion marks.</p>
            <p>If you have any suggestions on ways to work around this, I’d love to hear them!</p>

            <h1>Can i use the tracker as a console player?</h1>
            <p>This tool is designed to be used alongside your Steam account, so not yet. Perhaps at some point in the future I’ll create a version for console players, if I can be bothered 😉</p>

            <h1>How do i contact you?</h1>
            <p>You can contact me via email at TBOIAchievementsTracker@gmail.com</p>
            <p>Feel free to send any general feedback, ideas, or even just a quick “hello”!</p>

            <h1>I'd love to support you - How can i do so?</h1>
            <p>Aw, thank you! You can either click on the “Buy Me A Coffee” button in the bottom-right corner of the screen, or head to the website <a href="https://www.buymeacoffee.com/BrandonGill">here</a> </p>

        </div>
        <div id="end"></div>
    </div>
</div>


<style> {% include "faqs.css" %} </style>
<script> {% include "faqs.js" %} </script>

{% endblock %}
