
{% extends "base.html" %}

{% block head %}
<title>Whats New</title>
{% endblock %}

{% block content %}

<div class="isaacnews-cont">
    <div class="slot-container">
        <div class="slot">
            <img class="slot-img top" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <div class="slot-text-overlay"></div>
                <h2 class="slot-title">epic and poggy woggy title 2.32 edition</h2>
                <h3 class="slot-text">penis penis penis penis penis</h3>
            </div>
        </div>

        <div class="slot">
            <img class="slot-img mid" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <h2 class="slot-title">epic and poggy woggy title 2.32 edition</h2>
                <h3 class="slot-text">penis penis penis penis penis</h3>
            </div>
        </div>

        <div class="slot">
            <img class="slot-img bot" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <div class="slot-text-overlay"></div>
                <h2 class="slot-title">epic and poggy woggy title 2.32 edition</h2>
                <h3 class="slot-text">penis penis penis penis penis</h3>
            </div>
        </div>

        <div id="end"></div>
    </div>
</div>


<style> {% include "whatsnew.css" %} </style>
<script> {% include "whatsnew.js" %} </script>

{% endblock %}
