
{% extends "base.html" %}

{% block head %}
<title>Whats New</title>
{% endblock %}

{% block content %}

<div class="isaacnews-cont">
    <div class="slot-container">

        <div class="slot">
            <img class="slot-img top" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <div class="slot-text-overlay"></div>
                <h2 class="slot-title">Bug fixes V2.0.1</h2>
                <h3 class="slot-text">
                    <ul>
                        <li>Fixed issue where some Steam profiles wouldn't load</li>
                        <li>Added Favicon to the site</li>
                    </ul>
                </h3>
            </div>
        </div>
        <div class="slot">
            <img class="slot-img mid" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <div class="slot-text-overlay"></div>
                <h2 class="slot-title">BRAND NEW TBOI ACHIEVEMENTS SITE V2.0.0</h2>
                <h3 class="slot-text">
                    <ul>
                        <li>Completely redesigned from the ground up</li>
                        <li>Now with a new, more modern look</li>
                        <li>Faster load times</li>
                        <li>Devlog</li>
                        <li>Featured YouTube channels</li>
                        <li>Steam news page</li>
                        <li>More to come!</li>
                    </ul>
                </h3>
            </div>
        </div>

        <div class="slot">
            <img class="slot-img bot" />
            <div class="slot-content">
                <img class="slot-img errorkeeper" src="/static/devlog/errorkeeper.gif" />
                <img class="slot-img panel" src="/static/devlog/Devlog_Panel.png" />
                <h2 class="slot-title">Tboi Achievements tracker V1.0.3</h2>
                <h3 class="slot-text">
                    <ul>
                        <li>
Edmund McMillen, you little f***er. You made a shit of piece with your trash Isaac. It's f***ing bad, this trash game. I will become back my money. I hope you will in your next time a cow on a trash farm you sucker.
                        </li>
                    </ul>
                </h3>
            </div>
        </div>

        <div id="end"></div>
    </div>
</div>


<style> {% include "whatsnew.css" %} </style>
<script> {% include "whatsnew.js" %} </script>

{% endblock %}
