
{% extends "base.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="dashboard-cont">

    <div class="dash-item character-select">
        <div class="col1 col">
            <div class="profile-search">
                <div class="profile-search-bar">
                    <img class="bg" src="/static/profile search/search bar more chode edition.png"/>
                </div>
                <div class="profile-search-button">
                    <img class="bg" src="/static/profile search/search bar more chode edition BUTTON.png"/>
                </div>
            </div>
            <div class="profile-postit">
                <img class="bg" src="/static/profile/profile.png"/>
                <img id="placeholder" class="overlay" src="/static/profile/placeholder.png"/>
                <img id="profile-border" class="overlay" src="/static/profile/profileborder.png"/>
            </div>
            <div class="profile-ad">
                <div class="ad"></div>
            </div>
        </div> 
        <div class="col2 col">
            <div class="who-am-i">
                <img class="bg" src="/static/character wheel/character wheel/who am i.png"/>

                <img class="overlay" src="/static/character wheel/character icons/isaac.png"/>

                <div class="character-wheel">
                    <img src="/static/character wheel/character wheel/character_wheel_left.png"/>
                    <img id="switch" src="/static/character wheel/character wheel/switch.png"/>
                    <img src="/static/character wheel/character wheel/character_wheel_right.png"/>
                </div>
            </div>
        </div> 
        <div class="col3 col">
            <div class="completion-postit ">
                <img class="bg" src="/static/completion marks/completion marks/post_it.png"/>
            </div>
            <div class="completion-ad">
                <div class="ad"></div>
            </div>
        </div> 
    </div>

    <div class="dash-item achievements">

        <div class="col1 col">
            <div class="achievements-postit ">
                <img class="bg" src="/static/profile/taintedprofile.png" />
            </div>
        </div> 

        <div class="col2 col">
            <div class="achievements-page ">
                <img class="bg" src="/static/achievements/SecretsPaper.png" />
            </div>
            <div class="achievements-navbar">
                <img class="bg" src="/static/achievements/pages/leftarrow.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage2.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage3.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage2.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage3.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/rightarrow.png" />
            </div>
        </div> 

        <div class="col3 col">
            <div class="achievements-listbox">
                <img class="bg" src="/static/achievement search/search box.png" />
            </div>
        </div> 
    </div>
</div>

<style> {% include "dashboard.css" %} </style>
<script> {% include "dashboard.js" %} </script>
{% endblock %}


