
{% extends "base.html" %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block content %}

<div class="dashboard-cont">

    <div class="dash-item character-select">
        <div class="col1 col">
            <div class="profile-search">
                <div class="profile-search-bar">
                    <img class="bg" src="/static/profile search/search bar more chode edition.png"/>
                    <input id="profile-search-input" class="overlay" type="text" placeholder="steam id...">
                </div>
                <div class="profile-search-button">
                    <img id="search-profile" class="bg" src="/static/profile search/search bar more chode edition BUTTON.png"/>
                </div>
            </div>
            <div class="profile-postit">
                <img class="bg" src="/static/profile/profile.png"/>
                <img id="profile-avatar" class="overlay" src="/static/profile/placeholder.png"/>
                <img id="profile-border" class="overlay" src="/static/profile/profileborder.png"/>
                <div id="profile-name" class="overlay">
                    <img id="profile-online" src="/static/profile/offline.png"/>
                    <h2 id="profile-username">???<h2>
                </div>
                <div id="profile-country" class="overlay">
                    <h2>country:</h2>
                    <img id="profile-country-img" src="https://flagsapi.com/MK/flat/64.png" />
                </div>
            </div>
            <div class="profile-ad">
                <div class="ad"></div>
            </div>
        </div> 
        <div class="col2 col">
            <div class="who-am-i">
                <img class="bg" src="/static/character wheel/character wheel/who am i.png"/>

                <img id="current-character" class="overlay" src="/static/character wheel/character icons/isaac.png"/>

                <div class="character-wheel">
                    <img id="prev-char" src="/static/character wheel/character wheel/character_wheel_left.png"/>
                    <img id="switch" src="/static/character wheel/character wheel/switch.png"/>
                    <img id="next-char" src="/static/character wheel/character wheel/character_wheel_right.png"/>
                </div>
            </div>
        </div> 
        <div class="col3 col">
            <div class="completion-postit ">
                <img class="bg" id="wrinkled-paper" src="/static/completion marks/completion marks/post_it.png"/>
                <img class="overlay" id="heart" src="/static/completion marks/completion marks/moms_heart.png" draggable="false">
                <img class="overlay" id="isaac" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="polaroid" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="cent" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="satan" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="negative" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="brimstone"src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="star" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="hush" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="knife" src="/static/completion marks/completion marks/null.png" draggable="false">
                <img class="overlay" id="dadsnote" src="/static/completion marks/completion marks/null.png" draggable="false">
            </div>
            <div class="completion-ad">
                <div class="ad"></div>
            </div>
        </div> 
    </div>

    <div class="dash-item achievements">

        <div class="col1 col">
            <div class="achievements-postit">
                <img class="bg" src="/static/profile/taintedprofile.png" />
                <div id="achievements-text-overlay" class="overlay">
                    <h2>Date Unlocked</h2>
                    <h2>???</h2>
                    <h2>Time Unlocked</h2>
                    <h2>???</h2>
                    <h2>Time-Zone</h2>
                    <h2>???</h2>
                </div>
            </div>
        </div> 

        <div class="col2 col">
            <div class="achievement-page-search">
                <div class="achievement-page-search-box">
                    <img class="bg" src="/static/achievement display/box.png" />
                    <input id="achievement-page-search-input" class="overlay" type="number" placeholder="1" min="1" max="637" value="1" />
                </div>
                <h2>/637</h2>
            </div>
            <div class="achievements-page">
                <img class="bg" src="/static/achievements/SecretsPaper.png" />
                <img id="current-achievement" class="overlay" src="/static/achievements/achievements/achievement_magdalene.png" />
            </div>
            <div class="achievements-navbar">
                <img class="bg" src="/static/achievements/pages/leftarrow.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage2.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage3.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage2.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage3.png" />
                <img class="bg" src="/static/achievements/pages/lockedpage1.png" />
                <img class="bg" src="/static/achievements/pages/rightarrow.png" />
            </div>
        </div> 

        <div class="col3 col">
            <div class="achievements-listbox">
                <img class="bg" src="/static/achievement search/search box.png" />
                <input id="achievement-search-input" class="overlay" type="text" placeholder="search..."/>
            </div>
        </div> 
    </div>
</div>

<style> {% include "dashboard.css" %} </style>
<script> {% include "dashboardPoster.js" %} </script>
<script> {% include "dashboardRedeemer.js" %} </script>
<script> {% include "dashboardInit.js" %} </script>
{% endblock %}


