/*
 *
 * Universal
 *
 * */

h2{
    margin: 0;
}

input{
    /* make background transparent */
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.col{
    display: flex;
    flex-direction: column;
}

.bg{
    width: 100%;
    height: auto;
}

.overlay{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*
 *
 * Dashboard
 *
 * */

.dashboard-cont{
    display: flex;
    flex-direction: column;
}

.dash-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


/*
 *
 * Character Selection
 *
 * */

.who-am-i{
    position: relative;
}

.who-am-i .character-wheel{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.who-am-i .character-wheel img{
    width: 12%;
    height: auto;
 }


/*
 *
 * Profile
 *
 * */

.profile-search-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-search{
    position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.profile-search-bar #profile-search-input{
    width: 80%;
    height: 45%;
    top: 24%;
    left: 9%;
}


.profile-postit{
    position: relative
}


.profile-postit #profile-avatar{
    width: 62%;
    height: auto;
    top: 18%;
    left: 19%;
}


.profile-postit #profile-name{
    top: 70%;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.profile-postit #profile-name img{
    height: auto;
    width: 12%;
}

.profile-postit #profile-country{
    top: 80%;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.profile-postit #profile-country img{
    height: auto;
    width: 12%;
}



.profile-ad,
.profile-ad .ad{
    width: 100%;
    height: 12%;
    background-color: red;
}


/*
 *
 * Achievements 
 *
 * */

.achievements-postit{
    position: relative;
}

.achievements-postit #achievements-text-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

.achievement-page-search{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.achievement-page-search h2{
    font-size: 3vw;
    align-self: flex-end;
}

.achievement-page-search-box{
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.achievement-page-search-box #achievement-page-search-input{
    position: absolute;
    top: 14%;
    left: 13%;
    z-index: 1;
    width: 70%;
    height: 70%;
    text-align: center;
}


.achievements-page{
    position: relative;
}
.achievements-navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.achievements-listbox{
    position: relative;
}

.achievements-listbox #achievement-search-input{
    position: absolute;
    width: 85%;
    height: 10%;
    top: 4%;
    left: 6%;
}

/*
 *
 * Completion Marks
 *
 * */

.completion-postit {
    position: relative;
}

.completion-ad,
.completion-ad .ad{
    width: 100%;
    height: 50%;
    background-color: red;
}
